transformers[torch]
pytorch_lightning
jupyter
argparse
glob2
nltk
numpy
pandas
torch
sentencepiece
tensorboard
datasets
evaluate
scikit-learn
accelerate
datasets
matplotlib
deepspeed
accelerate
mpi4py